{% extends "template.html" %}
{% block conteudo %}
       <div class="floatRight">
        <table class="table table-striped table-responsive table-bordered" id="idtable" style="margin-right:20px float: left">
                <tr>
                    <th>Nome</th>
                    <td>{{ x.nome }}</td>
                </tr>
                <tr>
                    <th>DRE</th>
                    <td>{{ x.dre }}</td>
               </tr>
                <tr>
                    <th>CPF</th>
                    <td>{{ x.cpf }}</td>
                </tr>
                <tr>
                    <th>NASC.</th>
                    <td>{{ x.nasc }}</td>
                </tr>
                <tr>
                    <th>CURSO</th>
                    <td>{{ x.curso }}</td>
                </tr>
          </table>
        </div>
        <div class="floatLeft">
         <table id="idtable" style="margin-right:0px margin-top:0px">
          <tr>
           <td><img src="static/{{ x.profile_img }}" alt="Photo missing" height="145" width="100" id="myImage"/></td>          
          </tr>
          <tr>
           <td><img src="{{url_for('static', filename='Qr_image.png')}}" alt="QR CODE FAILLED"/></td>
          </tr>
         </table> 
        </div>
{% endblock %}
