<!DOCTYPE html>
<html>
  <head>
   <script type="text/javascript">
    function fale(texto)
    {
	speaks = [
	  {
	    "name": "Alex",
	    "lang": "en-US"
	  },
	  {
	    "name": "Joana",
	    "lang": "pt-PT"
	  },
	  
	  {
	    "name": "Eduardo",
	    "lang": "pt-BR"
	  }  
	];
	var msg = new SpeechSynthesisUtterance();
	msg.volume = 1;//parseFloat(volumeInput.value); // 0 to 1
	msg.rate = 1;//parseFloat(rateInput.value); // 0.1 to 10
	msg.pitch = 1;////parseFloat(pitchInput.value); // 0 to 2
	msg.text  = texto;
	var voice = speaks[1];
	console.log(`Voice: ${voice.name} and Lang: ${voice.lang}`);
	msg.voiceURI = voice.name;
	msg.lang = voice.lang;
	speechSynthesis.speak(msg);
     }
    </script>
    <!--<script src="{{ url_for('static', filename='artyom.window.min.js') }}"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIGA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
   <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list_unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                    <script type="text/javascript">
		     fale("{{ message }}");
		    </script>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <script>
	 fale("Bem vindo ao SIGA. Obtenha sua carteirinha online"); 
	</script>
	<script>
	 fale("Digite seu cpf"); 
	</script>
        <h1>Faça seu login</h1>
        <form method="POST" action="/autenticar">
            <p><label>CPF:</label> <input id="cpf" class="form-control" type="text" name="usuariocpf" autofocus required></p>
            <p><label>Senha:</label> <input id="senha" class="form-control" type="password" name="senha" required></p>
            <p><button class="btn btn-primary" type="submit">Entrar</button></p>
        </form>
    </div>
    <script>
     fale("Pressione espaço se quiser verificar seus dados"); 
    </script>
    <script>
       var input = document.getElementById("cpf");
       input.addEventListener("keyup", function(event) {
       event.preventDefault();
       var aux = event.keyCode;
       if (aux === 32){
        var x = document.getElementById('cpf').value;
        var pos = x.lastIndexOf(" ");
        fale("Repetindo o cpf");
        for(i = 0; i< pos;i++){
         fale(x[i]);
        } 
       }
       else {
        fale(String.fromCharCode(aux));
       }
     });	     
    </script>
    <script>
       var input = document.getElementById("senha");
       input.addEventListener("keyup", function(event) {
       event.preventDefault();
       if (event.keyCode === 32){
        var x = document.getElementById('senha').value;
        var pos = x.lastIndexOf(" ");
        fale("Repetindo a senha");
        for(i = 0; i< pos;i++){
         fale(x[i]);
        }
       }
       else {
        fale(String.fromCharCode(event.keyCode));
       }
     });	     
    </script>
</body>
</html>
